@import url('http://fonts.cdnfonts.com/css/sf-pro-display');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "sf pro display";
}

.new-wishlist{
  margin-top: 300px;
  margin-bottom: 10px;
}

.category p, .wish-list p, .new-wishlist p{
  color: #8C8C8C;
}

.fs-3{
 font-size: 24px !important;
}

.fs-4{
 font-size: 23px !important;
}

.fs-7{
 font-size: 18px !important;
}

.bg-primary{
 background: #0088CC !important;

}

.border-primary{
 border-color: #0088CC !important;
}

.text-primary{
 color: #0088CC !important;
}

.placeholder::placeholder{
 color: #fff;
}

.mx-auto{
 width: 650px !important;
 position: relative;
}

.close-img{
  position: absolute;
  top: -16px;
  right: -16px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

@media(max-width: 600px){
  .mx-auto{
    width: 90% !important;
    font-size: 7px;
  }

  .mx-auto label{
    margin-right: 10px !important;
  }

  .category p{
    font-size: 16px !important;
  }

  .gender, .join{
    font-size: 8px !important;
    padding: 5px !important;
  }
  
  .wish-list{
    width: 100% !important;
    padding-right: 21px !important;
  }

  .wish-list p{
     font-size: 16px !important;
  }

  .wish-list button{
    margin-right: 0 !important;
    font-size: 16px !important;
    white-space: nowrap;
  }

  .new-wishlist{
    margin-top: 90px !important;
  }

   .new-wishlist p{
    font-size: 14px !important;
    margin-bottom: 150px !important;
   
  } 
}
