@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

body {
    font-size: 16px;
    font-family: 'SF Pro Display', 'Poppins', sans-serif;
    background-color: #ffffff;
}

html{
  scroll-behavior: smooth;
}

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

nav.second-nav{
  margin: 48px 30px;
}

.second-nav ul{
 list-style-type: none;
 display: flex;
 gap: 20px;
 justify-content: flex-end;
}

.second-nav li a{
 text-decoration: none;
 color: #000000;
 font-weight: 500;
 font-size: 18px;
}

.second-nav .active{
 border-bottom: 2px solid #000000;
}

/* Main styling start from here */

main{
 width: 90%;
 margin: 0 auto;
}

main h2{
  font-size: 40px;
  color: #261F1F;
  font-weight: 600;
  margin-bottom: 28px;
  line-height: 47.73px;
}

.content-p{
  font-size: 24px;
  line-height: 36px;
  color: #323232;
  font-weight: 400;
  margin-bottom: 24px;
}




/* @media(max-width:769px){
  nav{
    margin: 0 35px;
  }

  li a{
    font-size: 20px;
  }

  main h4{
   font-size: 20px;
  }

  

  main{
   width: 100%;
   padding: 0 35px;
  }

  main p{
   padding: 0;
   font-size: 20px;
  }

  .content-p{
    padding: 0;
    
  }
} */


@media (max-width: 426px){
  
  nav.second-nav{
     margin:35px ;
  }
  .second-nav li a{
    font-size: 14px;
  }

  main{
   width: 100%;
   padding: 0 35px;
  }

  main h2{
    font-size: 28px;
  }

  .content-p{
    font-size: 18px !important;
    line-height: 27px;
    margin-bottom: 12px;
  }

  .content-p:nth-child(3){
    border-bottom: 1.5px solid #BFBFBF;
    margin-bottom: 24px !important;
    padding-bottom: 12px;
  }

}