.p-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.p-description {
    font-size: 1rem;
    font-weight: 500;
}

.price {
    font-weight: 400;
    font-size: 1.1rem;
    border: 1px solid #e3e2e2;
    color: #AA0000;
}

.store a,
.shop a {
    text-decoration: none;
}

.cat-title {
    margin: 0;
    font-size: 1.32rem;
}

.rating .fa-star {
    /* background-color: #F28202 !important; */
    color: #F28202;
}

.rating {
    user-select: none;
}

.rating span {
    user-select: none;
    cursor: pointer;
}
.pagination a{
    margin-right: .8rem;
    color: #141414;
    text-decoration: none;
}

/* large mobile*/
@media screen and (max-width: 767px) {
    .p-title {
        margin-top: 1rem;
    }

    .cat-title {
        font-size: 1rem;
    }

    header{
        width: 100%;
        z-index: 2000;
        position: sticky !important;
        top: 0;
        background-color: #F28202 !important;
    }
    .filter-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }
    .products,
    .filter {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .p-action {
        font-size: 0.9rem;
    }

    .rating span {
        font-size: 1rem;
    }

    .p-description,
    .store {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

}