

/* aside{
    float: left;
    }
    body {
        font-size: 20px;
        font-family: 'SF Pro Display', 'Poppins', sans-serif
    }
    img{
        width: 100%;
        max-width: 300px;
        padding-left: 1em;
    }
    
    .red{
    display: inline-block;
    width: 20px;
    padding:0;
    }
    
    .price{
        margin-left: 15em;
        font-size: 20px;
        font-weight: 400;
    
    
    }
    
    a{
        text-decoration: none;
        color: #0088CC;
    }
    .store{
        margin-left: 15em;
        font-size: 20px;
        font-weight: 400;
    
    }
    
    .shop{
        margin-top: 8em;
        color: #0088CC;
    
    }
    
    .moreText{
        display: none;
      }
    
      button{
        color: #0088CC;
        border: none;
      }
    
      .footer{
       text-align: center;
       
      }
    .footer a{
        padding: 0.5em;
    } */

    /* .moreText{
        display: none;
    } */

    .p-title{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .p-description{
        font-size: 1rem;
        font-weight: 500;
    }
    .price{
        font-weight: 400;
        font-size: 1.1rem;
        border: 1px solid #e3e2e2; 
        color: #AA0000;
    }
    .store a, .shop a{
        text-decoration: none;
    }
    .cat-title{
        margin: 0;
        font-size: 1.32rem;
    }

    .rating .fa-star{
        /* background-color: #F28202 !important; */
        color: #F28202;
    }
    .rating{
        user-select: none;
    }
    .rating span{
        user-select: none;
        cursor: pointer;
    }

    /* large mobile*/
    @media screen and (max-width: 767px) {
        .p-title{
            margin-top: 1rem;
        }
        .cat-title{
            font-size: 1rem;
        }
        .products, .filter, .second-nav{
            position: static !important;
        }
        header{
            z-index: 2000;
            /* position: fixed !important; */
            /* top: 0; */
            background-color: #F28202;
        }
       .filter, .products{
        height: auto !important;
        overflow: visible !important;
        /* display: none; */
       } 
       .products, .filter{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
       }
       .p-action{
        font-size: 0.9rem;
       }
       .rating span{
        font-size: 1rem;
    }

       .p-description,  .store{
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }
    
    }