* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    padding-top: 3px;
    padding-bottom: 6px;
    background-color: var(--blueactive);
  }

  .footer-section1 {
      display: flex;
      justify-content: space-evenly;
  }
  
   .socials > .first-row i, .socials > .second-row  i {
    font-size: 1.7rem;
    color: #0c4d6d;
    padding: 9px;
  }
  
  .socials > .first-row i:hover, .socials > .second-row  i:hover {
    color: white;
  }
  
  .first-row , .second-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .top-searches > ul > li > a:hover, .top-brand > ul > li > a:hover, .top-stores > ul > li > a:hover {
    color: rgb(71, 71, 71);
  }
  
  .footer-section2 {
      background-color: white;
      display: flex;
      justify-content: space-between;
  }
  
  .foot-nav {
      display: flex;
      justify-content: flex-end;
  }
  
  .foot-nav > li {
      list-style: none;
      padding: 10px;
  }
  
  .foot-nav > li > a {
      position: relative;
      text-decoration: none;
      color: #000;
      top: 8px;
  }
  
  .foot-nav > li > a:hover {
    color: black;
    font-size: 1.3rem;
    transition: ease-in;
  }
  
  .footer-sections {
    display: flex;
    flex-direction: column;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .copyright > i {
    color: #e77f2a;
    font-size: 1.8rem;
    padding: 5px;
    margin-left: 62%;
  }
  
  .copyright > h3 {
    font-size: 1.4rem; 
    padding-left: 5%; 
    margin-top: 5px;
  }
  
  .vl {
    border-left: 1.5px solid rgb(94, 94, 94);
    position: absolute;
    margin-left: -5px;
    left: 10%;
    height: 25px;
  }
  
  .show {
    display: flex; 
    justify-content: flex-end; 
    padding-top: 28px;
    visibility: hidden;
  }
  
  .show > i {
    padding-right: 8px; 
    font-size: 1.5rem;
  }
  
  .show > span {
    color: white;
    padding-right: 5px;
  }
  
@media (max-width:1028px) {
    footer {
        padding-bottom: 3px;
      }
    
        .footer-section1 {
            flex-direction: column;
        }
    
        .foot-nav {
            flex-direction: column;
        }
    
        .foot-nav > li {
            padding: 10px 0.5px;
        }
    
        .footer-section2 {
          background-color: white;
          display: flex;
          justify-content: start;
          flex-direction: column;
          padding-right: 5%;
        }
    
        .footer-section2 > h3 {
          margin-top: 5px;
        }
    
        .footer-sections {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        
        .copyright > h3 {
          margin-right: 65%;
        }
    
        .vl, .copyright > i, .copyright > span {
          display: none;
        }

        .copyright > h3 {
            padding-left: 3%
          }
    
        .show {
            visibility: unset;
          }
   }