@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "sf pro display";
}

.user-info{
  color: #454545;
  margin: auto;
  width: 50%;
}


.fs-6{
 font-size: 27.6px !important;
}

.fs-7{
 font-size: 23px !important;
}

.bg-primary{
 background: #0088CC !important;

}

.bg-warning{
 background: #F28202 !important;
}

.fw-bolder{
 font-weight: 600!important;
}

.fw-bold{
 font-weight: 500 !important;
}

.links{
  gap: 20px;
}

/* .links a{
  white-space: nowrap !important;
} */

@media(max-width: 600px){
  .container{
    padding: 15px;
  }
  .wrapper{
    flex-direction: column;
  }
  .linked{
    flex-direction: column;
    gap: 20px;
  }
  
  .links{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
  }

  .edit,.add-email{
    display: none;
  }

  .verify{
    text-align: left !important;
  }

  .verify span{
    display: initial !important;
  }

  .display-img{
    margin: 0 !important;
    margin-bottom:78px !important;
  }
  

  .display-img img{
    width: 150px;
  }

  .fs-6 {
    font-size: 20px !important;
  }

  .fw-bolder{
   font-weight: 500!important;
  }

  .name{
    margin-bottom: 28px !important;
    padding-bottom: 0;
  }

}