<html>
{% block content %}

<table style="background:#f4f4f4; height:600px;">
    <table bgcolor="#fff" style="margin-left:auto;margin-right:auto; width:90%; padding:20px;">
        <tr bgcolor="#0088CC">
            <td style="padding: 10px 10px;">
                <img src="https://raw.githubusercontent.com/zuri-training/Team_21-Price-Compare/main/frontend/assets/images/PriceBeta(1).png" style="width:150px; margin-right:auto; margin-left: auto; display:block">
            </td>
        </tr>

        <tr>
            <td style="padding: 10px;">
                <p>Hello, Reset Code is <br> <span style="font-size:40px; margin:10px 0;"> <strong> 278192 </strong></span></p>
                <p>Use this code provided to reset your PriceBeta account.</p>
                <p><strong>Note:</strong> Do not share this code with any one else<br>
                Search, compare and buy at a better rate.</p>
            </td>
        </tr>
    </table>
    <table bgcolor="#f4f4f4" style="margin-left:auto;margin-right:auto; width:90%; padding:20px;">
        <tr>
            <td align="center" align="top">
        <tr>
            <td class="text-bottom"
                style="width: 90%; padding: 35px 15px; color:#888888; font-family:Arial,sans-serif; font-size:11px; line-height:18px; text-align:center;">
                Mail sent by PriceBeta.<br />
                Checkout PriceBeta for good rates, <a href="#" target="_blank"
                    class="link-3-u" style="color:#a8a8a8; text-decoration:underline;"><span class="link-3-u"
                        style="color:#a8a8a8; text-decoration:underline;">Search, compare & Buy.</span></a><br />
                Contact: +15137957872 | +14048446689<br />
                Email: info@pricebeta.com <br />
                <a href="{% url 'term' %}"target="_blank">Terms of Service </a> |
                <a href="{% url 'login' %}" target="_blank"> Login </a>
            </td>
        </tr>
        </td>
        </tr>
    </table>
</table>

</html>
{% endblock %}