{% load static%}
<!DOCTYPE html>
{% block content%}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 {% block title %}<title>Terms of Use</title>{% endblock %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="{% static 'css/term.css' %}">
 <link rel="stylesheet" href="{% static 'css/none-auth-navbar.css' %}">
 <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <header class="position-sticky top-0" style="z-index: 55;">

        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Price<span style="color: #F28202;">Beta</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarText">
                    <form action="" class="search-form me-lg-4 d-flex">{% csrf_token %}
                        <input type="text" class="form-control" placeholder="Search products..." aria-label="search"
                            aria-describedby="button-search">
                        <button class="btn text-white px-4" style="font-size: 1.2rem;" type="submit"
                            id="button-search">Search</button>
                    </form>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item me-lg-4">
                            <a class="nav-link" href="#">All Categories</a>
                        </li>
                        <li class="nav-item me-lg-4">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
  </header>
  <main class="container">
    <ul class="d-flex justify-content-end mb-0 py-5">
       <li class="list-unstyled"><a href="{% static 'index' %}" class="text-decoration-none me-3 text-dark fw-bolder fs-7">home</a></li>
       <li class="list-unstyled"><a href="{% url 'term' %}" class="text-decoration-none text-dark border-bottom border-dark fw-bolder fs-7">terms of use</a></li>
    </ul>
    <h2 class="display-5">Terms of Use</h2>
       <section class="Disclaimer">
           <h4 class="fs-2">Disclaimer</h4>
           <p class="fs-6 mb-4">The information contained in this site are provided as is by third party. PriceBeta periodically changes, improves, updates, deletes and/or modifies the site and/or documents and information contained herein without notice. PriceBeta will not be responsible or liable of any other delays and inaccuracies of informations that are listed on this site. Use of this site is at your own risk. Under no circumstances shall PriceBeta or any other forgoing parties involved in or connected to this website’s content, be liable to you or any other person for any direct, indirect, special, incidental or consequential damages arising from your access or use of this website.</p>
       </section>
       <section class="Trademarks">
             <h4 class="fs-2">Trademarks</h4>
             <p class="fs-6 mb-4">All custom graphics appearing on this site are trademarks, service marks, and/or trade dress of Price Column, Inc. All other trademarks appearing on PriceBeta are the property of their respective owners.</p>
       </section>
       <section class="copyright">
             <h4 class="fs-2">Copyright</h4>
             <p class="fs-6 mb-4">All Web site design, text, graphics, data, audio, and software. Copyright 2022, PriceBeta All rights reserved.</p>
       </section>
  </main>
  <footer>
    <!-- <div class="footer-sections"> -->
  <div class="footer-section1">

    <div class="social-icons">
  <h3 style="margin-bottom: 3px;"><i>Price<span style="color: var(--gold)">Beta</span></i></h3>
    
    <div class="socials">
      <div class="first-row">
        <a href="#"><i class="fa-regular fa-envelope" style="color: black;"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="second-row" style="padding-top: 4%;">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-telegram"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-google-play"></i></a>
      </div>
    </div>
  </div>
    <div class="top-searches">
      <h4>Top Searches</h4>
      <ul>
        <li>
          <a href="#">Iphone 13 pro max</a>
        </li>
        <li>
          <a href="#">Iphone Xr</a>
        </li>
        <li>
          <a href="#">Galaxy S22</a>
        </li>
        <li>
          <a href="#">Galaxy A53</a>
        </li>
        <li>
          <a href="#">Google pixel 6 pro</a>
        </li>
        <li>
          <a href="#">Macbook</a>
        </li>
      </ul>
      
    </div>
  
    <div class="top-brand">
      <h4>Top Brands</h4>
      <ul>
        <li>
          <a href="#">Samsung</a>
        </li>
        <li>
          <a href="#">Apple</a>
        </li>
        <li>
          <a href="#">Google</a>
        </li>
         
      </ul>
  
    </div>
  
    <div class="top-stores">
      <h4>Top Stores</h4>
      <ul>
        <li>
          <a href="#">Jumia</a>
        </li>
        <li>
          <a href="#">Konga</a>
        </li>
        <li>
          <a href="#">Jiji</a>
        </li>
      </ul>
      </ul>
  
    </div>
  
  </div>
  
  <div class="footer-section2">
    <div class="copyright">
      <i class="fas fa-copyright"></i>
      <span style="color: #000;">2022</span>
       <div class="vl"></div>
      <h3><i><span style="color: var(--blueactive);">Price</span><span style="color: var(--gold);">Beta</span></i></h3>
    </div>
  
    <div class="footer-nav">
  
      <ul class="foot-nav">
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="#">Documentation</a>
        </li>
        <li>
          <a href="{% url 'signup' %}">Register</a>
        </li>
        <li>
          <a href="{% url 'term' %}">Terms</a>
        </li>
        <li>
          <a href="{% url 'privacy' %}">Privacy</a>
        </li>
        <li>
          <a href="#">Subscribe</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
      </ul>
  
    </div>
  </div>
  </div>
  <div class="show">
    <i class="fas fa-copyright"></i>
    <span> 2022</span>
  </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}